


.header-top{
	.container{
		.row{
			.infoStats{
				color: #ffffff;
				font-size: 0.9em;
				
				span{
					font-weight:bold;
					font-size: 1.5em;
					width: 100%;
					display: block;
				}
			}
		}
	}
}



.right-main-product{
	.all-grid-product{
		.single-product-item{
			min-height: 300px;
				
			.single-product-text{
				margin-bottom:0;
			}	
		}
	}
}


.cause-list{
	width: auto;
	position:relative;
	overflow:hidden;
	
	select{
		background-image:url("img/icon/caret-new.png");
		background-repeat:no-repeat;
		background-attachment:scroll;
		background-position:right center;
		border: 2px solid #A3CF0C;
		border-radius: 20px;
		color: #565656;
		padding: 5px 20px 5px 15px;
		width:100%;
		
		:hover{
			background-image:url("img/icon/caret2.png");
		}
		
		option{
			padding:0px 10px;
		}
	}
}

.pro-add-to-cart{
	p{
		input{
			background: transparent;
			border: 2px solid #A3CF0C;
			border-radius: 50px;
			display: inline-block;
			font-size: 11px;
			font-weight: 700;
			line-height: 15px;
			padding: 7px 22px 4px;
			text-transform: uppercase;
		}

	}
} 



.about-greentech-text{
	a{
		 border: none; 
		 display: inline; 
		 font-size: inherit; 
		 font-weight: inherit; 
		 line-height: inherit; 
		 overflow: none; 
		 padding: inherit; 
		 text-transform: none; 
		 text-decoration: underline;
	
		&:hover{
			background: inherit;
			color: #A3CF0C;
		}
	}

}

.category-search-area{
	width:50%;
}

.top-shoping-cart{
	.top-mycart{
		width: auto;
		float: right;
			
		img{
			height:41px;
			width: 227px;
		}
	}
}



.pro-desc{
	span.regular-price2 {
		display: inline-block;
		font-size: 24px;
		line-height: 25px;
		margin-right: 0;
		color: #A3CF0C;
		font-weight: 700;
	}
}

.pro-desc{
	span.regular-price0 {
		display: inline-block;
		font-size: 24px;
		line-height: 25px;
		margin-right: 0;
		color: #454545;
		font-weight: 700;
	}
}

.nivo-caption{
display:none!important;}

.all-list-product{ 
	.single-product-item{
		padding-bottom: 0;
	}
}